---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
    {blok.body && blok.body.map((childBlok: any) => (
        <StoryblokComponent blok={childBlok} />
    ))}
</div>